<div class="content-wrapper-services">
    <div class="content">
        <div class="pure-g">
          <div class="pure-u-1-2">
              <h2>Contact Us</h2> 
            <p>Lorem ipsum dolor amet hella celiac meh, PBR&B 
              trust fund meggings XOXO intelligentsia paleo 
              </p>
          </div>
          <div class="pure-u-1-2">
            <form class="pure-form pure-form-stacked">
                <%= form_tag contact_path, authenticity_token: false do %>
                  <p>Name</p>
                  <%= text_field_tag :name %>
                  <p>Email</p>
                  <%= email_field_tag :email %>
                  <p>Message</p>
                  <%= text_field_tag :message %>
                  <%= submit_tag 'Send', class: 'pure-button' %>
                <% end %>
            </form>

          </div>
        </div>
    </div>
  </div>
  